.Seller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 15px 20px;
}
@media (min-width: 993px) {
  .Seller-header .burger-icon {
    display: none;
  }
}

@media (min-width: 993px) {
  .Seller-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.Seller-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
