.seller-layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.SellerDashboard {
  background-color: var(--bg-light);
}

.special-form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
