.carousel {
  overflow: hidden;
  cursor: grab;
}

.inner-carousel {
  width: calc(var(--num-slides) * 30px);
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
