.browse-by-category .category {
  width: 200px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.browse-by-category .category:hover {
  background-color: var(--red-color);
  color: white;
}
