.product-card {
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 25rem;
  min-width: 20rem;
  margin-right: 5px;
}
.product-card .product-img {
  width: 20rem;
  height: 25rem;
}
.product-card .header {
  position: relative;
  background-color: var(--bg-light);
  overflow: hidden;
  text-align: center;
}
.product-card .discountPercentage {
  position: absolute;
  background-color: var(--red-color);
  top: 130px;
  left: 40px;
  padding: 5px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #fff;
}
.product-card .product-icons {
  position: absolute;
  top: 130px;
  right: 40px;
}
.product-card .product-icons a {
  color: black;
  width: 40px;
  height: 40px;
  background-color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.product-card .product-icons a:hover {
  color: #fff;
  background-color: var(--red-color);
}
.product-card .addToCart {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.product-card:hover .addToCart {
  bottom: 0;
}

.product-card .content .final-price {
  color: rgba(219, 68, 68, 1);
}
.product-card .content .price-before-discount {
  color: rgba(0, 0, 0, 1);
}

.product-card .product-img {
  pointer-events: none;
}
