.warning-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.425);
}
.warning-layout .warning {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: var(--red-color);
  z-index: 600;
  padding: 20px;
  color: white;
}
.warning-layout .warning .warning-icon {
  font-size: 100px;
}
.warning-layout .warning .warning-messge {
  color: white;
}
.warning-layout .warning .warning-sub-messge {
  margin: 20px 0;
}
.warning-layout .warning .actions button {
  padding: 6px 10px;
  outline: none;
  border: 2px solid var(--red-color);
  transition: 0.5s;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.warning-layout .warning .actions button:hover {
  color: white;
  background: red;
}
