.statistics > div {
  width: 250px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.statistic-img {
  width: 120px;
  height: 120px;
  text-align: center;
  border: 20px solid var(--bg-light);
  padding: 15px;
  background-color: black;
}

.statistics > div:hover {
  background-color: var(--red-color);
  color: white;
}

.statistic-img img {
  width: 100%;
  z-index: 1;
  background-color: black;
}

.team-members > div .team-member-img {
  height: 360px;
}
.team-members > div img {
  object-fit: contain;
}
.bullets {
  width: 300px;
  max-width: 100%;
}
.bullets li {
  width: 17px;
  height: 17px;
  background-color: var(--bg-light);
  cursor: pointer;
}
.bullets li.active {
  outline: 5px solid var(--bg-light);
  border: 3px solid white;
  background-color: var(--red-color);
}
.services img {
  outline: 10px solid var(--bg-light);
}
