.register .form-control,
.login .form-control {
  border: none;
  border-bottom: 1px solid var(--red-color);
  border-radius: 5px;
  transition: 0.5s;
}
.register .form-control:focus,
.login .form-control:focus {
  border: none;
}
.register .submit,
.login .submit {
  background-color: var(--red-color);
  color: #fff;
}
.register .submit:hover,
.login .submit:hover {
  color: var(--red-color);
  background-color: transparent;
  border: 1px solid var(--red-color);
}
.register .google-signup {
  border: 1px solid var(--red-color);
}
.login-btn {
  border-bottom: 1px solid var(--red-color);
}

.forget-password {
  color: var(--red-color);
}
