.end {
  right: 0;
}
.links li {
  transition: border-bottom 0.5s linear;
  -webkit-transition: border-bottom 0.5s linear;
  -moz-transition: border-bottom 0.5s linear;
  -ms-transition: border-bottom 0.5s linear;
  -o-transition: border-bottom 0.5s linear;
}

.links li.active {
  border-bottom: 1px solid;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}
