.sliderImgs > div img {
  width: 100%;
}

.productSlider .mainImg {
  width: 90%;
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sliderImgs > div {
  max-width: 23%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (min-width: 768px) {
  .sliderImgs > div {
    width: 80%;
    max-width: 100%;
  }
}
.product-details .counter {
  border: 1px solid #ccc;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.product-details .counter button {
  border: none;
  outline: none;
  font-size: 22px;
  width: 35px;
  height: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.product-details .counter button:hover {
  background-color: var(--red-color);
  color: white;
}
.product-details .counter .amount {
  font-size: 20px;
  padding: 0 10px;
  width: 75px;
  text-align: center;
}
.product-details .buy-now {
  width: 50%;
  background-color: var(--red-color);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.product-details .buy-now:hover {
  color: var(--red-color);
  background-color: transparent;
  border: 1px solid var(--red-color);
}
.heart {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 45px;
  cursor: pointer;
}

.heart:hover {
  background-color: var(--red-color);
  color: #ccc;
}
.product-links a,
.rating {
  color: #ccc;
}
.select-size li {
  border: 1.5px solid #bebcbd;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.select-size li:hover,
.select-size li.active {
  background-color: var(--red-color);
  color: white;
}
.product-buttons {
  height: 50px;
}

.colors .productColors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.colors .productColors li.active {
  border: 4px solid white;
  box-shadow: 0px 0px 0px 1px #3c4242;
}
.colors .productColors li.black {
  background-color: #3c4242;
}
.colors .productColors li.yellow {
  background-color: #edd146;
}
.colors .productColors li.pink {
  background-color: #eb84b0;
}
.colors .productColors li.red {
  background-color: #9c1f35;
}
