.add-product {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 30px 10px;
}
@media (min-width: 768px) {
  .add-product {
    padding: 30px 40px;
  }
}
.add-product .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.add-product > .add-images img {
  width: 100px;
}

.add-product .options-table thead {
  background-color: #eff1ff;
  height: 120px;
}
.add-product .options-table tr:nth-child(even) {
  background-color: #eff1ff;
}
.add-product .options-table table th {
  font-weight: bold;
  font-size: 20px;
}

.add-product .options-table {
  display: flex;
  border-radius: 20px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 768px) {
  .add-product .options-table {
    overflow-x: auto;
  }
}
.add-product .options-table table {
  width: 100%;
  border-collapse: unset;
}

.add-product .options-table table td {
  padding: 5px 10px;
  height: 100px;
}

.add-product .options-table .counter .decrease,
.add-product .options-table .counter .increase {
  border: none;
  outline: none;
  font-size: 22px;
  width: 35px;
  height: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add-product .options-table .counter .decrease:hover,
.add-product .options-table .counter .increase:hover {
  background-color: var(--red-color);
  color: white;
}

.add-product .add-option,
.add-product .options-table .option-row .remove-option-row {
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  border: none;
  outline: none;
}
.add-product .options-table .option-row {
  position: relative;
}
.add-product .options-table .option-row .remove-option-row {
  position: absolute;
  left: -15px;
}
.add-product .add-option {
  margin-top: 40px;
  align-self: self-start;
}
.add-product .options-table .add-option {
  top: 40px;
}
