.Seller-Sidebar {
  background-color: var(--blue-color);
  width: 250px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 999;
}
.Seller-Sidebar a {
  color: white;
}
@media (max-width: 992px) {
  .Seller-Sidebar {
    background-color: var(--blue-color);
    position: fixed;
    height: 100%;
    width: 200px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .Seller-Sidebar.active {
    transform: translateX(0);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .Seller-Sidebar .close-Sidebar {
    color: white;
    cursor: pointer;
  }
}

.Seller-Sidebar .arrow-right {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.Seller-Sidebar .arrow-right.active {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.statstics {
  background-color: var(--bg-light);
}
.Seller-Sidebar .Admin-links {
  height: 50vh;
}
