.Seller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 15px 20px;
}
@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }
}
@media (min-width: 992px) {
  .burger-icon {
    display: none;
  }
  .Seller-header {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

.Seller-image {
  width: 100px;
}
