.cart-table {
  border-collapse: separate;
  border-spacing: 15px 10px;
}
.cart-table thead {
  width: 100%;
}
.cart-table thead th {
  padding: 20px 10px;
  text-wrap: nowrap;
}
.cart-table td {
  padding: 10px;
  font-weight: bold;
  text-wrap: nowrap;
}
.cart-table img {
  width: 80px;
  height: 80px;
}

.cart-table input {
  width: 80px;
}
.cart-buttons button {
  border: 1px solid var(--red-color);
}
.cart-total {
  border: 2px solid var(--red-color);
}
.cart-total div:not(:last-of-type) {
  border-bottom: 1.5px solid var(--red-color);
}
