.CategoriesDropDown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.CategoriesDropDown img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}
