* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --red-color: #db4444;
  --bg-light: #eeeeee3b;
  --blue-color: #1d1d42;
}
.row {
  --bs-gutter-x: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  font-weight: 400;
}
h4 {
  font-weight: 600;
}

.links a {
  color: var(--bg-light);
}
textarea {
  resize: none;
  height: 220px;
}
.submit {
  background-color: var(--red-color);
  color: #fff;
}
.submit:hover {
  color: var(--red-color);
  background-color: transparent;
  border: 1px solid var(--red-color);
}
.bg-black {
  background-color: black;
}
.cursor-pointer {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
.container {
  padding: 0;
}
.special-form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.special-input {
  outline: none;
  border: none;
  border: 1px solid var(--red-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.special-input:focus {
  border: 1px solid var(--red-color);
  box-shadow: 0 0.5rem 1rem var(--red-color);
}
